body {
  font-family: Muli, sans-serif;
  background-image: url("imgs/background1.jpg");
  background-color: black;
}


/*---Main---*/

/*--Nav-Bars--*/
.fixed-bottom {
    padding: 0 !important;
    font-size: 40px;
    background-color: transparent !important;
}

.navbar-brand{
  font-size: 50px;
}

.fa-globe{
  margin-left:10px;
  margin-right:10px;
}

.navButton1{
  transform: skewX(-25deg);
  padding: 0 !important;
}

.navButton2{
  transform: skewX(25deg);
  padding: 0 !important;
}

.navText1{
  transform: skewX(25deg);
}

.navText2{
  transform: skewX(-25deg);
}

.nav-item{
  border: 5px inset rgba(0,0,0,0.25);
  transition: border .5s ease-out;
}

.nav-link{
  color: black !important;
  transition: color .5s ease-out;
}

.nav-link:hover{
  color: white !important;
}

.nav-item:hover {
  border: 5px inset white;
}

.navCenter{
    width: 10% !important;
    max-width: 4%;
    background: #343a40;
    position: initial;
    transform: scaleX(2);
    z-index: -9;
}

/*--Main-Page--*/

.Main-Container {
  height: 620px;
  margin-top: 60px;
  padding: 0;
}

.planetBoxGreen{
  position: absolute;
  background-color: darkgreen;
  margin-top: 150px;
  width: 95%;
  border: 5px solid green;
  border-radius: 20px;
  text-shadow: 5px 5px black;
  box-shadow: 0 10px 20px rgba(0, 100, 0, 0.75);
}

.planetBoxRed{
  position: absolute;
  background-color: darkred;
  margin-top: 150px;
  width: 95%;
  border: 5px solid red;
  border-radius: 20px;
  text-shadow: 5px 5px black;
  box-shadow: 0 5px 20px rgba(255, 0, 0, 0.75);
}

.planetBoxYellow{
  position: absolute;
  background-color: Gold;
  margin-top: 150px;
  width: 95%;
  border: 5px solid yellow;
  border-radius: 20px;
  text-shadow: 5px 5px black;
  box-shadow: 0 5px 20px rgba(255, 215, 0, 0.75);
}

.planetBoxBlue{
  position: absolute;
  background-color: darkblue;
  margin-top: 150px;
  width: 95%;
  border: 5px solid blue;
  border-radius: 20px;
  text-shadow: 5px 5px black;
  box-shadow: 0 10px 20px rgba(0, 0, 139, 0.75);
}

.planetName{
  text-align: center;
  color: white;
}

.Score-jumbotron{
  margin-top: 200px;
}

/*--About-Section--*/

.About-jumbotron{
  margin-top: 200px;
  margin-bottom: 55px;
}

.howTo {
  list-style-type: decimal;
  font-size: 25px;
}

/*--Presets--*/

.center{
  text-align: center;
}

.w100{
  width: 100%;
}

.h100{
  height: 100%;
}

.socailIcons{
  color: #767676;
  font-size: 25px;
}

.footer{
  height: 250px;
}


/*--Simon-Game--*/

.controls-container {
    position: absolute;
    top: 250px;
    width: 100%;
    max-width: unset;
}

.controls {
    height: 100%;
    width: 70%;
    border: 2.5px solid #ffffff;
    padding-left: 0px;
    background-color: #000000;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
}

.start-btn{
  width: 150px;
  font-size: 25px;
}

.planets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0 !important;
    height: 350px;
}

.planet{
  width: 350px;
  margin: auto !important;
}

#board {
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 7.5px 6px rgba(0,0,0,0.12);
}

#green, #red, #yellow, #blue {
    height: 100%;
    cursor: pointer;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
}

#red:hover, #red:focus {
  opacity: 0.8;
  border: 2px red solid;
  border-radius: 160px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22);
  filter: brightness(200%) saturate(9);
}

#green:hover, #green:focus{
  opacity: 0.8;
  border: 2px green solid;
  border-radius: 160px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22);
  filter: brightness(200%) saturate(9);
}

#yellow:hover, #yellow:focus{
  opacity: 0.8;
  border: 2px yellow solid;
  border-radius: 160px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22);
  filter: brightness(200%) saturate(9);
}

#blue:hover, #blue:focus{
  opacity: 0.8;
  border: 2px blue solid;
  border-radius: 160px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22);
  filter: brightness(200%) saturate(9);
}

#green {
  background-image: url("imgs/green.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 10px;
}

#red {
  background-image: url("imgs/red.png");
  background-position: center;
  background-size:  contain;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 10px;
}

#yellow {
  background-image: url("imgs/sun.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 10px;
}

#blue {
  background-image: url("imgs/earth.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 10px;
}

h3 {
  margin-top: 0 !important;
}

#buttons {
  margin-top: -10px;
}

.labels {
  margin-top: -34px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00c853;
    margin: -3px auto 7px auto;
}

button:focus {
  background-color: #00C853;
}

/*--Switch-Strict--*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: -80px;
}

.switch-label{
  position: absolute;
  margin-left: 40px;
  width: 100%;
  inline-size: max-content;
  top: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#strict-label {
  margin-top: 8px;
}

p {
  font-size: 20px;
}

h5 {
  font-size: 2.64rem;
}

.count {
  width: 60px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 20px;
  margin: 10px auto 50px auto !important;
  color: #F44336;
  background-color: #000000;
}

.count > h5 {
  margin-top: 3.5px;
}

.animate {
  filter: brightness(200%);
  filter:saturate(9);
  border-radius: 90px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22) !important;
}

.hidden {
  display: none;
}

#final-screen {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 190px;
}

#msg, #msg2, #new-game {
    font-size: 50px;
    font-weight: bold;
    color: red;
}

#new-game, #msg2 {
  color: #03A9F4;
}

#footer {
   position:fixed;
   left: 0;
   bottom: 0;
   height: 30px;
   width: 100%;
}


/*--MEDIA-QUERIES--*/

@media screen and (max-width: 1024px){
  .controls-container {
    position: relative;
    top: 50px;
    width: 100%;
    max-width: unset;
  }
  .fixed-bottom {
    background-color: #343a40 !important;
  }
  
  .icon-media-q {
    width: 100% !important;
  }
  
  .nav-link {
    font-size: 50px;
  }
  
  .nav-item {
    width: 100vw;
    margin-left: -12.5vw;
  }
  
  .navbar-toggler-icon {
    font-size: 50px;
  }
  
  .navbar-light .navbar-toggler {
    height: 80px;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  /*--Home-Page--*/
  
  .nav-item {
    margin-left: 0 !important;
  }
  
  .fixed-bottom {
    background-color: #343a40 !important;
  }
  
  .navbar-brand {
    font-size: 25px;
  }
  
  .navbar-toggler-icon {
    font-size: 50px;
  }
  
  .navbar-light .navbar-toggler {
    height: 80px;
    width: 100px;
  }
  
  .nav-link {
    font-size: 35px;
  }
  
  .icon-media-q {
    width: 100% !important;
  }
  
  .navCenter {
    max-width: 8% !important;
  }
  
  .controls {
    height: 40%;
    width: 280%;
    margin-left: -400px;
    margin-top: 460px;
  }
  
  .Main-Container {
    height: 100%;
  }
  
  .p-mobile {
    margin-bottom: 100px;
    padding-right: 0;
    padding-left: 0;
  }
  
  .m-row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  
  .planetBoxGreen {
    position: absolute;
    margin-top: 0px;
    width: 98%;
  }
  
  .planetBoxRed {
    position: absolute;
    margin-top: 0;
    width: 98%;
  }
  
  .planetBoxBlue {
    position: absolute;
    margin-top: 0;
    width: 98%;
  }
  
  .planetBoxYellow {
    position: absolute;
    margin-top: 0;
    width: 98%;
  }
  
  .display-4 {
    font-size: 1.5rem;
  }
  
  .howTo {
    list-style-type: decimal;
    font-size: 20px;
  }
  
  p {
    font-size: 15px;
  }
  
  .tech {
    font-size: 20px;
  }
  
  /*--Game--*/
  
  .controls {
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  
  .planet {
    width: 100% !important;
    height: 170px !important;
  }
  
  .controls-container {
    position: relative;
    top: 0;
    width: 100%;
    max-width: unset;
  }
}


@media screen and (max-width: 500px) {
  /*--Home-Page--*/
  
  .nav-item {
    margin-left: 0 !important;
  }
  
  .fixed-bottom {
    background-color: #343a40 !important;
  }
  
  .navbar-brand {
    font-size: 25px;
  }
  
  .navbar-toggler-icon {
    font-size: 50px;
  }
  
  .navbar-light .navbar-toggler {
    height: 80px;
    width: 100px;
  }
  
  .nav-link {
    font-size: 35px;
  }
  
  .icon-media-q {
    width: 100% !important;
  }
  
  .navCenter {
    max-width: 8% !important;
  }
  
  .controls {
    height: 40%;
    width: 280%;
    margin-left: -400px;
    margin-top: 460px;
  }
  
  .Main-Container {
    height: 100%;
  }
  
  .p-mobile {
    margin-bottom: 100px;
    padding-right: 0;
    padding-left: 0;
  }
  
  .m-row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  
  .planetBoxGreen {
    position: absolute;
    margin-top: 0px;
    width: 98%;
  }
  
  .planetBoxRed {
    position: absolute;
    margin-top: 0;
    width: 98%;
  }
  
  .planetBoxBlue {
    position: absolute;
    margin-top: 0;
    width: 98%;
  }
  
  .planetBoxYellow {
    position: absolute;
    margin-top: 0;
    width: 98%;
  }
  
  .display-4 {
    font-size: 1.5rem;
  }
  
  .howTo {
    list-style-type: decimal;
    font-size: 20px;
  }
  
  p {
    font-size: 15px;
  }
  
  .tech {
    font-size: 20px;
  }
  
  /*--Game--*/
  
  .controls {
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  
  .planet {
    width: 100% !important;
    height: 170px !important;
  }
  
  .controls-container {
    position: relative;
    top: 0;
    width: 100%;
    max-width: unset;
  }
}