body {
  font-family: Muli, sans-serif;
  background-image: url("imgs/background1.jpg");
  background-color: black;
}

#board {
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 7.5px 6px rgba(0,0,0,0.12);
}

.planets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0 !important;
}

#green, #red, #yellow, #blue {
    height: 30%;
    cursor: pointer;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
}

#red:hover, #red:focus {
  opacity: 0.8;
  border: 2px red solid;
  border-radius: 90px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22);
  filter: brightness(200%) saturate(9);
}

#green:hover, #green:focus{
  opacity: 0.8;
  border: 2px green solid;
  border-radius: 90px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22);
  filter: brightness(200%) saturate(9);
}

#yellow:hover, #yellow:focus{
  opacity: 0.8;
  border: 2px yellow solid;
  border-radius: 90px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22);
  filter: brightness(200%) saturate(9);
}

#blue:hover, #blue:focus{
  opacity: 0.8;
  border: 2px blue solid;
  border-radius: 90px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22);
  filter: brightness(200%) saturate(9);
}



#green {
  background-image: url("imgs/green.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 10px;
}

#red {
  background-image: url("imgs/red.png");
  background-position: center;
  background-size:  cover;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 10px;
}

#yellow {
  background-image: url("imgs/sun.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 10px;
}

#blue {
  background-image: url("imgs/earth.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 10px 10px 10px;
}

.controls {
    height: 240px;
    border: 10px solid #ffffff;
    padding-left: 0px;
    background-color: #000000;
    margin: 0 auto;
    color: white;
    border-radius: 50px;
}

h3 {
  margin-top: 0px !important;
}

#buttons {
  margin-top: -10px;
}

.labels {
  margin-top: -34px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00c853;
    margin: -3px auto 7px auto;
}

button:focus {
  background-color: #00C853;
}

.switch label .lever {
    width: 50px;
    height: 25px;
}

.switch label .lever:after {
    content: "";
    width: 31px;
    height: 31px;
}


#strict-label {
  margin-top: 8px;
}

p {
  font-size: 20px;
}

h5 {
  font-size: 2.64rem;
}

.count {
  width: 60px;
  height: 35px;
  border: 2px solid #000000;
  border-radius: 20px;
  margin: -24px auto 0 auto !important;
  color: #F44336;
  background-color: #000000;
}

.count > h5 {
  margin-top: 3.5px;
}

.animate {
  filter: brightness(200%);
  filter:saturate(9);
  border-radius: 90px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,0.25), inset 0 5px 5px rgba(0,0,0,0.22) !important;
}

.hidden {
  display: none;
}

#final-screen {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 190px;
}

#msg, #new-game {
    font-size: 50px;
    font-weight: bold;
    color: red;
}

#new-game {
  color: #03A9F4;
}

#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   height: 30px;
   width: 100%;
}